<md-card class="full-width" md-with-hover>
  <md-card-header>
    <div class="md-display-1">Create new note</div>
  </md-card-header>
  <md-card-content>
    <form>

      <md-input-container>
        <label>Title</label>
        <md-input v-model="title"></md-input>
      </md-input-container>

      <md-input-container>
        <label>Content</label>
        <md-textarea v-model="content"></md-textarea>
      </md-input-container>
    </form>
  </md-card-content>

  <md-card-actions>
    <md-button @click.native="createNote" class="md-raised md-warn sans">Post it in the fridge</md-button>
  </md-card-actions>

</md-card>
